
* {
  border: 1px solid red;
}
body {
  background-color: #45414C;
  color: #CBC9CF;
  font-family: 'montserrat', sans-serif;
  margin: 0px;
  padding: 0px;
}

/* left section */
.left-section {
width: 70%;
}

fieldset {
  display: flex;
  padding: 50px;
}

.select-activity {
  background-color: #938E8E;
  border-radius: 5px;
}

/* h3.category-header  {
  margin: 40px;
} */

.button-container {
  display: flex;
  justify-content: space-between;
}

button.activity-button {
  background-color: #938E8E;
  border: 1px white solid;
  font-size: medium;
  color: #CBC9CF;
  height: 70px;
  width: 140px;
}

img {
  height: 30px;
  weight: 30px;
  display: block;
  margin: auto;
}

input[type=text] {
  outline: none;
  background-color:#938E8E;
  border-bottom: 1px solid white;
}

input[type=number] {
  outline: none;
  background-color:#938E8E;
  border-bottom: 1px solid white;
}


.minutes-header {
  width: 90px;
}

.seconds-header {
  width: 90px;
}












/* right section */
.right-section {
  flex-direction: column;
}
