
* {
  border: 1px solid red;
}
body {
  background-color: #2B2733;
  font-color: #CBC9CF;
  font-family: 'montserrat', sans-serif;
  margin: 0px;
  padding: 0px;
}

/* header section */
header {
  display: flex;
}

/* Main body */
main {
display: flex;
}

/* left section */
.left-section {
width: 70%;
background-color: #938E8E;
}


/* right section */
.right-section {
  flex-direction: column;
  width: 40%;
}

header {
color: #fff;
display: block;
text-align: center;
background-color: #45414c;
text-transform: uppercase;
}

h1 {
  color: #CBC9CF;
}
