
* {
  /* border: 1px solid red; */
}
body {
  background-color: #45414C;
  color: #CBC9CF;
  font-family: 'montserrat', sans-serif;
  margin: 0px;
  padding: 0px;
}

/* header section */
header {
  display: flex;
}

/* Main body */
main {
display: flex;
}

/* left section */
.left-section {
<<<<<<< HEAD
background-color: #938E8E;
=======
>>>>>>> 61d73e8a7b682034a899a2291f33c707a1230d3d
width: 70%;
}

fieldset {
  display: flex;
  margin: 0px, 20px, 20px, 20px;
}

.select-activity {
  background-color: #938E8E;
  border-radius: 5px;
}

h3.category-header  {
  margin: 40px;
}

button.activity-button {
  background-color: #938E8E;
  border: 1px white solid;
  font-size: medium;
  color: #CBC9CF;
  height: 70px;
  width: 140px;
}

img {
  height: 30px;
  weight: 30px;
}

input[type=text] {
  outline: none;
  background-color:#938E8E;
  border-bottom: 1px solid white;
}

input[type=number] {
  outline: none;
  background-color:#938E8E;
  border-bottom: 1px solid white;
}


.minutes-header {
  width: 90px;
}

.seconds-header {
  width: 90px;
}












/* right section */
.right-section {
  border-left: solid 2px #45414C;
  flex-direction: column;
  height: 100%;
}

header {
  background-color: #45414C;
  color: #fff;
  display: block;
  height: 65px;
  text-align: center;
  text-transform: uppercase;
}

h1 {
  margin: 0;
  padding:12px;
}

h2 {
  color: #CBC9CF;
  padding-left: 3%;
  width: 100%;
}

.past-activities-card-box {
  min-height: 550px;
  min-width: 100%;
}
